body {
  font-family: Arial, sans-serif;
}

h1 {
  color: rgb(135, 135, 135);
  display: block;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: black;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  text-align: left;
}
li::first-letter {
  text-transform: capitalize;
}
a {
  text-decoration: none;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: black;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
